*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* css del header de la pagina */

.container-header-information{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.container-header-details{
    position: absolute;
    bottom: 20px;
    right: 50px;
}
.container-header-image{
    padding: 0 200px;
}
.container-header-title{
    font-size: 1.2em;
    text-align: center;
}
.container-header-details{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-header-details i{
    padding-left: 3px;
}
/* css de los botones link */
.button-details-contacts{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in;
}
.button-details-contacts:hover{
    transform: translate(-0px, -5px);
}
.fa-facebook{
    color: #047bf4;
}
.fa-whatsapp{
    color: #38be4b;
}

/* css del container botones de los libros */
.container-curse-links{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-buttons-curse{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.button-curse-link{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}