*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-1: #DF0C2E;
    --color-2: #2B2D42;
}
html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* css del header de la pagina */
.header-principal{
    width: 100%;
    background-color: var(--color-2);
    color: white;
}
.container-header{
    width: 100%;
    height: calc(100vh - 20.475rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
/* CSS DEL TITULO DE LA PAGINA */
.container-header-title{
    text-align: center;
}
.container-header-title h1{
    font-size: 3em;
}
/* CSSS DE LA IMAGEN DE LA PAGINA */
.container-header-image{
    width: 23rem;
}
.container-header-image img{
    width: 100%;
    animation-name: flotation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes flotation {
    0%{
        transform: rotateY(180deg);
    }
}
/* CSS DE LOS BOTONES */
.container-header-details{
    width: 25rem;
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button-details-contacts{
    padding: 0.3125rem 0.625rem;
    border: 1px solid black;
    border-radius: 0.3125rem;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in;
    background-color: white;
}
.button-details-contacts:hover{
    transform: translate(-0rem, -0.3125rem);
}
.button-details-contacts i{
    padding-left: 0.1875rem;
}
.fa-facebook{
    color: #047bf4;
}
.fa-whatsapp{
    color: #38be4b;
}

